
.contact-section {
  padding: 5rem 0;
  color: white;
  /* background: linear-gradient(130deg, #970202 10%, #4b0000 50%, #000000 100%); */
   background: linear-gradient(200deg, #690202 10%, #210000 60%, #000000 100%),
  repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 20px),
    repeating-linear-gradient(90deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 20px);
  background-blend-mode: overlay;
  position: relative;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.section-header {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title {
  color: white;
}

.title-underline {
  background: linear-gradient(135deg, #dc143c 0%, #8b0000 100%);
}

.section-subtitle {
  color: #e0e0e0;
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: start;
}
.sanjay{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(6rem, 8vw, 20rem);
  font-weight: 900;
  color: rgba(255, 255, 255, 0.05);
  white-space: nowrap;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  letter-spacing: 0.1em;
  
}
